header {
    height: 10%;
    width: 100vw;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1a1816;
}

.company {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1vh;

    .first {
        margin: 0 20px;
        font-size: 32px;
        display: flex;

        .sigla {
            border-radius: 14px;
            padding: 0 15px;
            background-color: rgb(255, 115, 0);
            margin: 0 25px;
        }
    }
}

.user {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    .second {
        padding: 10px;
        margin-right: 7%;
        display: flex;
        align-items: center;
        cursor: pointer;

        .person {
            margin: 10px;
        }

        .user-name {
            margin: 0 10px;
            background-image: linear-gradient(to right, rgb(255, 115, 0), rgb(255, 255, 255));
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: 0% 5px;
            transition: background-size 0.3s ease-in-out;
        }
    }

    .second:hover {
        .user-name {
            background-size: 100% 2px;
        }
    }
}