header {
    height: 10%;
    width: 100vw;
    display: flex;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1a1816;
}

.company {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1vh;

    .first {
        margin: 0 20px;
        font-size: 32px;
        display: flex;

        .sigla {
            border-radius: 14px;
            padding: 0 15px;
            background-color: rgb(255, 115, 0);
            margin: 0 25px;
        }
    }
}

.user {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    .second {
        cursor: pointer;
        padding: 10px;
        margin-right: 7%;
        transition: 1s;
        position: relative;

        .userdata {
            display: flex;
            align-items: center;

            .person {
                margin: 10px;
            }

            .user-name {
                margin: 0 10px;
                background-image: linear-gradient(to right, rgb(255, 115, 0), rgb(255, 255, 255));
                background-position: left bottom;
                background-repeat: no-repeat;
                background-size: 0% 5px;
                transition: background-size 0.3s ease-in-out;
            }
        }

        .menu {
            left: 0;
            width: 100%;
            margin-top: 1vh;
            background-color: #5c595688;
            list-style-type: none;
            position: absolute;
            display: none;

            li {
                width: 100%;
                display: inline-block;
                align-items: center;
                padding: 1vh 0;

                a {
                    margin-left: 1vw;
                    display: inline-block;
                }
            }

            li:hover {
                border-radius: 14px;
                background-color: #5c59563f;
            }
        }
    }

    .second:hover {
        background-color: #5c595688;

        .userdata {
            .user-name {
                background-size: 100% 2px;
            }
        }

        .menu {
            display: block;
        }
    }
}